.form-plan{
  width: 360px;
  padding: 20px;
  margin-top: 60px;
  background: #fffff5;
  border: 2px solid #979797;
  border-radius: 7px;
}

.form-plan-checked{
  width: 360px;
  padding: 20px;
  margin-top: 60px;
  background: #5fd;
  border: 2px solid #979797;
  border-radius: 7px;
}

.form-plan-line{
  font-size: 22px;
  margin-top: 10px;
}

.button-del{
  margin-top: 10px;
  text-align: center;
  color: white;
  display: inline-block;
}